<h1>Applies#new</h1>

<%= form_for(@apply) do |f| %>

<%= f.hidden_field :bookset_id, :value => @apply.bookset_id %>
<%= f.hidden_field :omniuser_id, :value => @apply.omniuser_id %>
<%= f.submit %>





<% end %>
