<h1>Shelf#index</h1>
<p><%= @omniuser.name %>さんのシェルフ</p>


<table>
  <tr>
    <th>Description</th>
    <th>Category</th>
    <th>Image url</th>
  </tr>
  
  <% @booksets.each do |bookset| %>
  <tr>
  	<td><%= bookset.description %></td>
  	<td><%= bookset.category %></td>
    <td><%= bookset.image_url %></td>
  </tr>
  <% end %>
</table>
