<h1>Library#list_userbook</h1>


<table>
  <tr>
    <th>Description</th>
    <th>Category</th>
    <th>Image url</th>
    <th>Omniuser_name</th>
    <th></th>
    <th></th>
  </tr>
  
  <% @booksets.each do |bookset| %>
  <tr>
  	<td><%= bookset.description %></td>
  	<td><%= bookset.category %></td>
    <td><%= bookset.image_url %></td>
    <td><%= bookset.omniuser.name %></td>
  </tr>
  <% end %>
</table>
